<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library to let you upload and share videos.</string>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera to let you record and share videos.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need access to your microphone to let you record audio for your videos.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to show you posts from your current area in real-time.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need your location to show you posts from your current area in real-time.</string>
</dict>
</plist>
